{% extends "base.html" %}

{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}
{% load static %}

{% block content %}
  <header class="container-fluid" id="title-header">
      <div class="row mt-5 pt-5 pb-4 align-items-center justify-content-center ">
        <div class="col col-md-8 col-lg-4 text-center justify-content-center">
          <h1>{{ page.heading }}</h1>
          <div class="embed-responsive embed-responsive-16by9 mb-4">
            {% embed page.video %}
          </div>
        </div>
        <div class="col-lg-8 d-flex flex-column flex-md-row pb-sm-4 pb-4 pb-lg-1 justify-content-center align-items-center cards-container">
          {% image page.image_1 original as image_1 %}
          <span><img src="{{ image_1.url }}" class="header-card my-2 my-md-0 mx-md-3 img-responsive"></span>
          {% image page.image_2 original as image_2 %}
          <span><img src="{{ image_2.url }}" class="header-card my-2 my-md-0 mx-md-3 img-responsive"></span>
          <span style="position:relative;display:inline-block">
              {% image page.image_3 original as image_3 %}
              <span><img src="{{ image_3.url }}" class="header-card my-2 my-md-0 mx-md-3 img-fluid info-full"></span>
            <a href="#" class="info-i-button" data-original-title="" title=""></a>
          </span>
        </div>
      </div>

    </header>

    {% for block in page.body %}
          <section class="container pt-4">
            {% include_block block %}
          </section>
    {% endfor %}

    <span id="about-us" class="anchor"></span>
    <section class="container pt-2 mb-5">
      <h2 class="display-4  py-3">About us</h2>

      <div class="row align-items-top justify-content-center">
        <div class="col-lg pb-4 px-2 text-center">
          <img src="{% static "img/tc_mitchell.png" %}" class="key-feature-image img-fluid" alt="Mitchell Moure. Lifelong soccer player and fan. Florida Youth Soccer Association Certified Referee over 4 years. University of South Florida student.">
        </div>
        <div class="col-lg pb-4 px-2 text-center">
          <img src="{% static "img/tc_brian.png" %}" class="key-feature-image img-fluid" alt="Brian Moure. USASA Soccer National Champion and AFGL Footgolf National Finalist. Certified Health Coach.Compassion Partner and Boys and Girls Clubs Volunteer. MBA Emory University, BA Wake Forest University">
        </div>
        <div class="col-lg pb-4 px-2 text-center">
          <img src="{% static "img/tc_christian_silva.png" %}" class="key-feature-image img-fluid" alt="Christian Silva">
        </div>
        <div class="col-lg pb-4 px-2 text-center">
          <img src="{% static "img/tc_alex.png" %}" class="key-feature-image img-fluid" alt="Alexander Seufert">
        </div>
        <div class="col-lg pb-4 px-2 text-center">
          <img src="{% static "img/tc_valentin.png" %}" class="key-feature-image img-fluid" alt="Valentin Kovshik">
        </div>
      </div>
    </section>


{% endblock %}
