<!DOCTYPE html>
<html lang="en">

<head>
    <title>Player Registration - Sport Tech IQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required libraries -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <style>
      .form-error {
        color: red;
      }
    </style>
</head>

<body id="top" class="sign-page">
  <div>
    <div>
      <a href="/" title="SportTechIQ">
        <span class="navbar-brand ml-3 ml-lg-5 mb-3 mb-md-0">SportTech IQ &#8482;</span>
      </a>
    </div>

    <div class="row align-items-center justify-content-center">

      <form method="post" action="{% url 'player_registration' %}" id="signup-form" class="col-10 col-md-9 col-lg-6 p-3 p-md-4 login-form">
        {% csrf_token %}
        <h2 class="display-4 pb-3">Player Registration</h2>

        <label class="col-form-label">Your Name</label>
        <span class="required-field"> *</span>
        <div class="form-group row no-gutters ">
          <div class="col-12 col-md-6 pr-md-2 mb-1">
            <input type="text" class="form-control" maxlength="254" required name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" placeholder="First Name">

            {% for error in form.first_name.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
          <div class="col-12 col-md-6 pl-md-2 mb-1">
            <input type="text" class="form-control" maxlength="254" required name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" placeholder="Last Name">

            {% for error in form.last_name.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>
        
        <div class="form-group row no-gutters ">

          <div class="col-12 col-md-6 pr-md-2 mb-1">
            <label class="col-form-label" for="">Gender</label>
            <span class="required-field"> *</span>
            <select id="{{ form.gender.id_for_label }}" required name="{{ form.gender.html_name }}" class="form-control">
                {% for choice in form.gender %}
                  {{ choice }}
                {% endfor %}
            </select>
            {% for error in form.gender.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
          <div class="col-12 col-md-6 pl-md-2 mb-1">
            <label class="col-form-label" for="">Birth Year</label>
            <span class="required-field"> *</span>
            <select id="{{ form.birth_year.id_for_label }}" required name="{{ form.birth_year.html_name }}" class="form-control">
                {% for choice in form.birth_year %}
                  {{ choice }}
                {% endfor %}
            </select>
            {% for error in form.birth_year.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>

        <div class="form-group row no-gutters">

          <div class="col-12 col-md-6 pr-md-2 mb-1">
            <label class="col-form-label" for="{{ form.city.html_name }}">City</label>
            <span class="required-field"> *</span>
            <input type="text" class="form-control" id="{{ form.city.id_for_label }}" required name="{{ form.city.html_name }}" placeholder="City">
            {% for error in form.city.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>


          <div class="col-12 col-md-6 pl-md-2 mb-1">
            <label class="col-form-label" for="{{ form.state.html_name }}">State</label>
            <span class="required-field"> *</span>
            <select id="{{ form.state.id_for_label }}" required name="{{ form.state.html_name }}" class="form-control">
                {% for choice in form.state %}
                  {{ choice }}
                {% endfor %}
            </select>
            {% for error in form.state.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>



        <div class="form-group row no-gutters ">

          <div class="col-12 col-md-6 pr-md-2 mb-1">
            <label class="col-form-label" for="">Country</label>
            <span class="required-field"> *</span>
            <select id="{{ form.country.id_for_label }}" required name="{{ form.country.html_name }}" class="form-control">
                {% for choice in form.country %}
                    {{ choice }}
                {% endfor %}
            </select>
            {% for error in form.country.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
          <div class="col-12 col-md-6 pl-md-2 mb-1">
            <label class="col-form-label" for="">Region</label>
            <span class="required-field"> *</span>
            <select id="{{ form.region.id_for_label }}" required name="{{ form.region.html_name }}" class="form-control">
                {% for choice in form.region %}
                  {{ choice }}
                {% endfor %}
            </select>
            {% for error in form.region.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>
        </div>


        
        <div class="form-group row no-gutters ">

          <div class="col-12 col-md-6 pr-md-2 mb-1">
            <label class="col-form-label" for="{{ form.registration_code.id_for_label }}">Registration Code</label>
            <span class="required-field"> *</span>
            <input type="text" class="form-control" id="{{ form.state.id_for_label }}" required name="{{ form.registration_code.html_name }}">

            <small id="passwordHelpBlock" class="form-text text-muted">
            To register with a club, you must have a valid registration code.
            </small>
            {% for error in form.registration_code.errors %}
              <span class="form-error">{{ error|escape }}</span>
            {% endfor %}
          </div>

        </div>


      {# TO DO: ADD REGION, COUNTRY #}





        <div>
          <input type="submit" value="Register" class="btn btn-primary my-2">
        </div>
      </form>

    </div>

    <div class="copyright col-12 py-4 text-center">© 2018 Sport Tech IQ. All Rights Reserved.</div>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!--ENABLE TOOLTIPS-->
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })


        $("#id_password1").change(function () {
          if ($("#id_password1").val().length < 5) {
            $("#id_password1")[0].setCustomValidity("Password must be longer than 4 characters");
          } else {
            $("#id_password1")[0].setCustomValidity("");
          }
        });

        $("#id_password2").change(function () {
          if ($("#id_password1").val() != $("#id_password2").val()) {
            $("#id_password2")[0].setCustomValidity("Passwords don't match");
          } else {
            $("#id_password2")[0].setCustomValidity("");
          }
        });

        $("#signup-form").addEventListener('submit', function (event) {
          if ($("#signup-form").checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          $("#signup-form").classList.add('was-validated');
        }, false);
    </script>

</body>
</html>